.home {
    background-color: rgb(18, 3, 30);
    background-repeat: no-repeat;
    background-size: cover;
    transition: background .4s ease-in;
    min-width: 100%;
    max-width: 100%;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
   
  @keyframes fadeInAnimation {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
       }
  }

nav {
    text-align: center;
}
nav a {
    margin-right: 50px;
    color: white;
}
.logo {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
    color: white;
}
.buttons {
  text-align: center;
}
.btn {  
    font-family: Arial, Helvetica, sans-serif;  
    text-transform: uppercase;
    margin-top: 40px;
    margin-right: 20px;
}  
.btn:hover .btn-slide-show-text1 {  
    margin-left: 65px;
}  
.btn-moving-gradient {  
    height: 55px;  
    width: 200px;  
    font-size: 16px;  
    font-weight: 600;  
    color: rgb(255, 255, 255);  
    cursor: pointer;  
    border: none;  
    background-size: 300% 100%;  
    border-radius: 50px;
}  
.btn-moving-gradient:hover {  
    transition: all 0.5s ease-in-out 0s;  
    background-position: 100% 0px;
}  .btn-moving-gradient--green {  
    background-image: linear-gradient(90deg, rgb(130, 237, 155), rgb(130, 230, 237), rgb(130, 237, 191), rgb(128, 237, 153));  
    box-shadow: rgb(130, 230, 237) 0px 4px 15px 0px;
}  
.kodekonnectNews {
    text-align: center;
    color: white;
    margin-top: 100px;
}
  .container {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
  }
  .container a{
    color: white;
  }
  
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
  }
  .carousel__face { 
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
  }
  
  span {
    margin: auto;
    font-size: 2rem;
  }
  
  
  .carousel__face:nth-child(1) {
    background-image: url("https://lh3.googleusercontent.com/pw/AIL4fc9ky1GanJ7hVhJAsYWn27MUDeGN0cv8ePV83fq3PTKs-KpPviu4Z84Yi1qQYuta4kj8A4FMoZZ6IHm6JdKJxLjd9VVVlpWbvy2AckqIS6KvZj4JiNJNw6MNde0g0k5n4eADvn7-p-mEMRC2CeF2PUZmC7nWvNCjIXCFfE_yzY6FnrMNfQ5b7VLyyjym0dmwbHOsabXlzO9k1IRUdF6G18fgS1JjLycx10PbbkQ_z_5rja2mqCPnq7tvnHtc5mrSNVvh0dqWyJ_ahMpWmJ_oo1SYXNcRf9YEHQrHMpEnTocUL0TPnGif3g2BjYLdGitVm5zUFprL6pF3RWP3t9dgyrtZ18Ah33-HUnVJpH7Oi7MrOVExeEUpkVhmrN4ZauAMU1WHLq9Xi6S7SbkgDnxgq1UupQ8CBzjabpJKUnmMrJSwDtnRcdxkGj4PiLDFJrXbSGu37MZEATQuSoBlkGWzOgGa8D7AbWzuYMDlxfnNocxnY31BXIVV4f39R_KW9LQKc-9tZ1gd4k3L-Bb_RjKbEO7WxOLkrGLfmUWH7V5v-36I-RRvHn8-9AtGU-dFpc2OrmAHZlLe9iIZj0QCwnHGF9jMhs4mIV-VtR8JQjPsl_0pIv_PAV9NhI7igIOjCCKAjg5vvi1GdLSi1JGM6-Ixef0muqyEjbaeAsT7LpX3r80Gld67OV9svJYOX3vl1NK50OqjLtRcBf4xErNVkuhONN7CZnRtWcCTkJvjB2JVZJ-qFO4BqH6KG7uRn0XsvtAPls9AWha7TuHM2d_Gv0zSec351kpTj7mZGvDhCU8BCixqHRFQK7dbsrrjvVrWcNrJbW_lcBa9vevU_wacL_5gotk7iOVMNJUWSIHBeoJlunO0W3Zbg_pMzqqjEgawG76B_b3TBkeK-y3hpxgdsAh4g1-VcTWlLEJjZoTHy-ck7w6j3qDT6di1DAqOteMDuCXLFoxFrZrHW_gD4VTWhav-RHbOUCR04sk=w1920-h897-s-no?authuser=1");
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) { 
    background-image: url("");
      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    background-image: url("");
    transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    background-image: url("");
    transform: rotateY(120deg) translateZ(430px); }
  .carousel__face:nth-child(5) { 
    background-image: url("");
   transform: rotateY(160deg) translateZ(430px); }
  .carousel__face:nth-child(6) { 
    background-image: url("");
   transform: rotateY(200deg) translateZ(430px); }
  .carousel__face:nth-child(7) { 
    background-image: url("");
   transform: rotateY(240deg) translateZ(430px); }
  .carousel__face:nth-child(8) {
    background-image: url("");
    transform: rotateY(280deg) translateZ(430px); }
  .carousel__face:nth-child(9) {
    background-image: url("");
    transform: rotateY(320deg) translateZ(430px); }
  
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  .techNews {
    color: white;
    text-align: center;
    margin-top: 500px;
  }
  .about {
    background-color: black;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
  .ceo {
    text-align: left;
    margin-top: 100px;
  }
  .banner {
    width: 100%;
    height: 50%;
  }
  .biography-heading {
    color: white;
  }
  .biography {
    color: white;
  }
.aboutPortfolio {
    color: white;
}
.portfolio {
    background-color: black;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.portfolioDescriptions {
    color: white;
    margin-top: 500px;
}
.sites {
    width: 350px;
    height: 200px;
}
.apps {
    color: white;
}
h2 {
  color: white;
}
